In [1]:
#comparison operator

In [2]:
2==3

False

In [3]:
2!=4

True

In [4]:
"h"=="h"

True

In [5]:
2.0==2

True

In [6]:
2>3<4

False

In [7]:
2<3<4

True

In [8]:
not 1==1

False

In [9]:
True and False

False

In [10]:
2==4 and 3>5

False

In [11]:
2==4 or 3<5

True

In [12]:
#conditional statement in python

In [13]:
if True:
    print("it's true")

it's true

In [14]:
hungry=True
if hungry:
    print("Feed me")

Feed me

In [15]:
name="Bob"
if(name=="Bob"):
    print("i am bob")
else:
    print("i am not bob")

i am bob

In [16]:
a=4
if(a>4):
    print("a ,4 se grater hai")
elif(a<4):
    print("a is less than 4")
else:
    print("a is eqaul to 4")

a is eqaul to 4

In [17]:
#looping in python

In [18]:
list1=[1,2,3]

In [19]:
for i in list1:
    print(i)

1
2
3

In [20]:
list1=[(1,4),(5,8),(9,0)]

In [21]:
for item in list1:
    print(item)

(1, 4)
(5, 8)
(9, 0)

In [22]:
for a,b in list1:
    print(a)
    print(b)

1
4
5
8
9
0

In [23]:
for a,b in list1:
    print(a+b)

5
13
9

In [24]:
for a,b in range(len(list1)):
    print(a,b)

TypeError: cannot unpack non-iterable int object

In [25]:
my_string="hello"

In [26]:
for i in my_string:
    print(i)

h
e
l
l
o

In [28]:
for i in range(len(my_string)):
    print(my_string[i])

h
e
l
l
o

In [29]:
d={"k1":1,"k2":2,"k3":3}

In [30]:
for item in d:
    print(d)

{'k1': 1, 'k2': 2, 'k3': 3}
{'k1': 1, 'k2': 2, 'k3': 3}
{'k1': 1, 'k2': 2, 'k3': 3}

In [31]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [32]:
for item in d.keys():
    print(item)

k1
k2
k3

In [33]:
for value in d.values():
    print(value)

1
2
3

In [34]:
for key,value in d.items():
    print(key,value)

k1 1
k2 2
k3 3

In [35]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [36]:
range(0,10,2)

range(0, 10, 2)

In [37]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [38]:
tuple(range(0,10,2))

(0, 2, 4, 6, 8)

In [39]:
set(range(0,10,2))

{0, 2, 4, 6, 8}

In [40]:
dict(range(0,10,2))

TypeError: cannot convert dictionary update sequence element #0 to a sequence